.informacao {
  margin: auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.informacao .lupulo {
  width: 90px;
  height: 30px;
  background: url("../../images/lupulo.jpg") repeat-x;
  background-size: 30px;
  margin-bottom: 15px;
}

.informacao h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 45px;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.informacao h3 {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  line-height: 45px;
  font-style: italic;
  line-height: 1;
  color: #333;
  margin-bottom: 10px;
}

.informacao p {
  font-family: "Raleway", cursive;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  text-align: center;
  width: 85%;
}

@media (max-width: 480px) {
  .informacao {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
  }

  .informacao h2 {
    font-size: 35px;
  }

  .informacao h3 {
    font-size: 30px;
  }
  .informacao p {
    font-size: 13px;
  }
}
