.food-card {
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 5px;
  background-position: center;
}

.food-cover {
  height: 100%;
  width: 100%;
  color: #00000000;
  cursor: pointer;
  transition: 0.3s;
  display: grid;
  border-radius: 5px;

  justify-content: center;
  align-content: center;
  text-align: center;
}

.food-cover:hover {
  color: #fff;
  background-color: #0000006b;
}

@media (max-width: 480px) {
  .food-card {
    display: block;
  }
  .food-cover {
    color: #fff;
    background-color: #0000006b;
  }

  .food-cover h2 {
    font-size: 20px;
  }
  .food-cover p {
    font-size: 14px;
  }
}
