.conheca-espaco {
  margin-top: 50px;
}

.conheca-espaco .options {
  display: flex;
  justify-content: center;
}

.options button {
  background: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  transition: 0.2s;
}

.active {
  color: #333;
}

.active-border {
  width: 80%;
  height: 2px;
  background: #333;
  margin: auto;
}

.options button:hover {
  color: #333;
}

.anime-border {
  height: 2px;
  background: #333;
  margin: auto;
  animation-name: slide-border;
  animation-duration: 0.5s;
}

.show {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(360px, 1fr));
  grid-template-rows: repeat(auto-fill, minMax(50%, 1fr));
  gap: 10px;
}

@keyframes slide-border {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .conheca-espaco .show {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 30%);
  }
}
