.conheca-container {
  background: #fff;
  padding: 100px;
}

.conheca-informacao {
  margin: auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.conheca-informacao .lupulo {
  width: 90px;
  height: 30px;
  background: url("../../images/lupulo.jpg") repeat-x;
  background-size: 30px;
  margin-bottom: 15px;
}

.conheca-informacao h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 45px;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.conheca-informacao h3 {
  font-family: "Great Vibes", cursive;
  font-size: 35px;
  line-height: 45px;
  font-style: italic;
  line-height: 1;
  color: #333;
  margin-bottom: 10px;
}

.conheca-informacao p {
  font-family: "Raleway", cursive;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  text-align: center;
  width: 85%;
}

.conheca-espaco {
  margin-top: 50px;
}

.conheca-espaco .options {
  display: flex;
  justify-content: center;
}

.options button {
  background: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 22px;
  font-weight: 400;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  transition: 0.2s;
}

.options button:hover {
  color: #333;
}
